mydomain = {{ domain }}
myhostname = {{ mailserverhostname }}
myorigin = $mydomain
mynetworks = {{ networks }}
mydestination = $myhostname localhost.$mydomain localhost $mydomain
#inet_interfaces = ipv4
inet_protocols = all
home_mailbox = Maildir/