server {
    listen              443 ssl;
    server_name         {{ mailserverhostname }} {{ mailserverip }};
    
    root      /usr/share/squirrelmail;
    index index.html index.htm index.php;
    
    ssl_certificate /etc/nginx/certs/server-cert.pem;
    ssl_certificate_key /etc/nginx/certs/server-key.pem;

    access_log /var/log/nginx/mail.vhost.access.log;
    error_log /var/log/nginx/mail.vhost.error.log;

    location ~ .php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
    
    error_page 404 /404.html;
        location = /40x.html {
    }
    
    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }
}